/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



/****** Header ***********/
.header {
    width: 100%;
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-booki {
    padding: 30px 50px 30px 0;
    width: 61px;
}

.nav {
    width: 25%;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    /* colle les liens à la bordure droite*/
    list-style-type: none;
    gap: 68px;
    padding: 0;
}

.nav-list a:hover {
    color: var(--main-color);
    border-top: var(--main-color) solid 2px;
    padding-top: 14px;
    /*pousse la bordure vers le top*/
}

/****** Info group***********/
.info-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-headline {
    line-height: 15px;
    /*diminue l'espace entre h1 et p*/
}

/*Form */

.search-bar>form {
    display: flex;
    flex-direction: row;
    height: 49px;
}


.fa-location-dot {
    color: black;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    box-sizing: border-box;
    text-align: center;
    font-size: large;
    padding-top: 16px;
    height: 49px;
    width: 50px;
}

#ville {
    border: var(--main-bg-color) 1px solid;
    color: black;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}


#search-button-desktop {
    background-color: #0065FC;
    border: none;
    color: var(--main-bg-color);
    font-size: larger;
    border-radius: 0 15px 15px 0;
    box-sizing: border-box;
    width: 132px;
    cursor: pointer;
}

#search-button-mobile {
    display: none;
    visibility: hidden;
}

/*Filter*/
.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filter>span {
    font-size: 18px;
    font-weight: 700;
}

.filter>ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}

.btn {
    border-radius: 25px;
    background-color: white;
    border: var(--main-bg-color) 2px solid;
    font-weight: 700;
    font-size: 17px;
    padding: 4px 19px;
    height: 50px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--filter-bg-color);
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-info {
    border: 1px solid var(--main-bg-color);
    font-size: small;
    border-radius: 15px;
    padding: 5px;
    min-width: 15px;
    min-height: 15px;
    text-align: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/*Hebergements*/
.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;

}

.hebergements-cards .card {
    height: 207px;
    width: 250px;
}

.hebergements-cards img {
    height: 124px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    line-height: 8px;
    padding-left: 15px;
}

.hebergements>a {
    font-weight: 700;
    font-size: 18px;
}

/*Populaires*/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    padding: 30px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    row-gap: 30px;
}

.activites-cards .card {
    height: 439px;
    width: 297px;
    padding: 0;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-title {
    padding-left: 20px;
}

/****** Footer***********/
.footer {
    display: flex;
    flex-direction: row;
    gap: 20%;
    background-color: var(--main-bg-color);
    margin-top: 60px;
    padding: 0 20px 0 20px;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding-left: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****** General ***********/
    .card-title {
        font-size: 14px;
    }

    .card-subtitle {
        font-size: 13px;
    }

    /****** Info group***********/
    /*Filter*/
    .filter {
        display: flex;
        flex-direction: column;
        align-items: normal;
        margin-top: 20px;
    }


    .btn {
        font-size: 14px;
    }

    /****** Hebergements And Populaires ***********/

    /*Hebergements*/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card {
        width: 268px;
    }

    /*Populaires*/
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** Activités ***********/
    .activites-cards .card {
        height: 270px;
        width: 193px;
    }

    .activites-cards img {
        width: 100%;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    /****** footer ***********/
    .footer {
        gap: 15%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /* ... */

    /****** General ***********/
    .main-container {
        min-width: 320px;
        padding: 0;
    }

    /****** Header ***********/
    .header {
        flex-direction: column;
        align-items: end;
        height: 115px;
    }

    .logo-booki {
        margin: auto;
        height: 19px;
        padding: 0;
    }

    .nav {
        width: 100%;
    }

    .nav-list {
        list-style-type: none;
        gap: 0;
        margin-bottom: 0;
    }

    .nav-list>li {
        width: 50%;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: var(--filter-bg-color) 1px solid;
    }

    .nav-list li:hover {
        border-bottom: var(--main-color) 1px solid;
        color: var(--main-color);
        cursor: pointer;
    }

    .nav-list a:hover {
        color: none;
        border-top: none;
        padding: 0;
        /*annule la bordure au survol*/
    }

    /****** Info group***********/
    .info-group {
        padding: 0 15px;
    }

    .info-headline {
        line-height: normal;
    }

    .info-headline>p {
        margin-top: -10px;
        /*remonte le p*/
    }

    /*Form */
    .search-bar>form {
        justify-content: center;
    }

    #ville {
        width: 90%;
    }

    #search-button-desktop {
        display: none;
        visibility: hidden;
    }

    #search-button-mobile {
        display: flex;
        visibility: visible;
        cursor: pointer;
        background-color: var(--main-color);
        border: none;
        border-radius: 15px;
        height: 49px;
        min-width: 49px;
        margin-left: -10px;
        box-shadow:
            0px 3.2px 5.3px rgba(0, 0, 0, 0.081),
            0px 10.7px 17.9px rgba(0, 0, 0, 0.119),
            0px 48px 80px rgba(0, 0, 0, 0.2);
    }

    .fa-magnifying-glass {
        color: white;
        font-size: medium;
        padding-top: 15px;
        padding-left: 10px;
    }

    /*Filter*/
    .filter {
        gap: 25px;
    }

    .filter>ul {
        flex-direction: column;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    .group-btn {
        justify-content: space-evenly;
    }

    .btn {
        padding: 4px 19px;
        width: 100%;
        text-wrap: nowrap;
        /*!!!!! à corriger*/
        min-width: 146px;
        /*!!!!! à corriger*/
        font-size: 14px;
    }

    .btn>.fa-solid {
        font-size: 17px;
        /*agrandi les font awesome*/
    }

    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        width: 100%;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    /*Populaires*/
    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        box-sizing: border-box;
        height: 146px;
    }

    .populaires-cards a {
        width: 100%;
    }

    /*Hebergements*/
    .hebergements {
        background-color: white;
        width: 100%;
    }

    .hebergements-cards {
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .hebergements-cards .card {
        width: auto;
    }

    .hebergements-cards img {
        width: 100%;
    }

    /****** Activités ***********/
    

    .activites-cards {
        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;
        gap: 20px;
    }
    .activites-cards .card {
        height: 200px;
        width: 100%;
    }
    .activites-cards img {
        width: 100%;
        height: 141px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    } 

    /****** footer ***********/
    .footer {
        flex-direction: column;
        gap: 20px;
    }
}